<div class="row" style="margin: 2px 0;">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-primary dropdown-toggle dropdown-toggle-split"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Manage Recipe
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Add Ingredient</a></li>
        <li><a href="#">Edit Recipe</a></li>
        <li><a href="#">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <img
      [src]="recipe.imgPath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="width: 300px; margin: 0 191px;"
    />
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipe.name }}</h1>
  </div>
</div>

<div class="row" style="margin: 2px 0;">
  <div class="col-xs-12">
    <p>{{ recipe.description }}</p>
  </div>
</div>
<div class="row" style="margin: 2px 0;">
  <div class="col-xs-12">
    <p>ingredient</p>
  </div>
</div>
