<div href="#" class="list-group-item clearfix" (click)="onSelected()">
  <div class="pull-left">
    <h4 class="list-group-item-header">{{ recipe.name }}</h4>
    <p class="list-group-item-text">{{ recipe.description }}</p>
  </div>
  <span class="pull-right">
    <!-- or we can also use the normal html way src="{{ recipe.imgPath }}" instead of the databinding way -->
    <img
      [src]="recipe.imgPath"
      alt="{{ recipe.name }}"
      class="img-responsive"
      style="max-height: 50px;"
    />
  </span>
</div>
