<div class="container">
  <app-cockpit
    (serverCreated)="onServerAdded($event)"
    (bluePrintCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <div class="row">
    <div class="col-xs-12">
      <app-element
        *ngFor="let serverElement of serverElements"
        [element]="serverElement"
      >
        <p>
          <strong *ngIf="serverElement.type === 'server'" style="color: red;">
            {{ serverElement.content }}
          </strong>
          <em *ngIf="serverElement.type === 'blueprint'" style="color: blue;">
            {{ serverElement.content }}
          </em>
        </p>
      </app-element>
    </div>
  </div>
</div>
