<div class="row">
  <div class="col-xs-12">
    <app-shopping-list-edit
      (ingredientAdd)="onIngredientAdd($event)"
    ></app-shopping-list-edit>
    <hr />
    <p>The List</p>
    <ul class="list-unstyled">
      <div
        class="list-group-item col-md-3"
        style="cursor: pointer; margin: 0 2px; height: 60px;"
        *ngFor="let ingredient of ingredients"
      >
        <img
          src="{{ ingredient.imgPath }} "
          alt="{{ ingredient.name }} "
          class="pull-left img-responsive align-self-center mr-3 col-md-5"
          style="width: 70px;"
        />
        <h5 class="pull-right mt-0 mb-1 col-md-7">
          {{ ingredient.name }} ({{ ingredient.amount }})
        </h5>
      </div>
    </ul>
  </div>
</div>
